.infoContainer {
    display: flex;
    flex: 1;
    justify-content: center;
}

.infoContainer > div {
    flex-grow: 1;
    padding: 20px;
}

@media (max-width: 1000px) {
    .infoContainer {
        flex-direction: column;
    }
}
